<% content_for :titulo, "Listado Bancos" %>

<body class="pantalla_pared"></body>

<center>
<h1>Bancos</h1>
</center>

<table style="width:80%" >
  <thead>
    <tr>
      <th><h3>&nbsp;&nbsp;&nbsp;&nbspNombre</h3></th>
      <th><h3>Titular</h3></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bancos.each do |banco| %>
      <tr>
        <td><h4>&nbsp;&nbsp;&nbsp;&nbsp<%= banco.nombre %></h4></td>
        <td><h4><%= banco.titular %></h4></td>
        <td style="text-align: center" ><%= button_to 'Mostrar', banco,                  :class => "btn-sm btn-info", method: :get %></td>
        <td style="text-align: center" ><%= button_to 'Editar',  edit_banco_path(banco), :class => "btn-sm btn-warning", method: :get %></td>
        <td style="text-align: center" ><%= button_to 'Borrar',  banco,                  :class => "btn-sm btn-danger", method: :delete, data: { confirm: "Esta usted seguro que quiere borrar este banco???" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>&nbsp;&nbsp;&nbsp;&nbsp
<%= link_to 'Nuevo Banco', new_banco_path %>
</h3>

